{% extends "bootstrap/base.html" %}

{% block title %}Sistema de Saúde{% endblock %}

{% block styles %}
    {{ super() }}
    <!-- Include Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Include JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <!-- Include Highlight.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li><a href="/">Dr Diagnosys</a></li>
                    <li><a href="{{ url_for('consulta', consulta_id=1) }}">Consulta 1</a></li>
                    <li><a href="{{ url_for('consulta', consulta_id=2) }}">Consulta 2</a></li>
                    <li><a href="{{ url_for('consulta', consulta_id=3) }}">Consulta 3</a></li>
                    <li><a href="{{ url_for('consulta', consulta_id=4) }}">Consulta 4</a></li>
                    <li><a href="/show_tables">Tabelas</a></li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% block page_content %}
            {% endblock %}
        </main>
    </div>
</div>
{% endblock %}
