{% extends "base.html" %}

{% block page_content %}
<h2 class="mb-3">{{ nome_consulta }}</h2>
<p class="mb-3">{{ descriptions }}</p>

<form method="POST" class="mb-3">
    {% if input_type == 'multi' %}
        {% for selection in items %}
            <label for="selection">Selecione um ou mais: </label>
            <select id="multiSelect{{loop.index}}" name="selection{{loop.index}}" multiple>
            {% for item in selection %}
                <option value="{{ item[0] }}">{{ item[1] }}</option>
            {% endfor %}
            </select>
        {% endfor %}
    {% elif input_type == 'single' %}
        <label for="items">Selecione um ou mais: </label>
        <select id="multiSelect" name="items" multiple>
            {% for item in items %}
                <option value="{{ item[0] }}">{{ item[1] }}</option>
            {% endfor %}
        </select>
    {% elif input_type == 'no_input' %}
        <input type="hidden" name="items">
    {% endif %}
    <input class="pb-3" type="submit" value="Consultar">
</form>
<pre class="mt-3 mb-3"><code class="language-sql">{{ sql_code }}</code></pre>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
{% if input_type == 'multi' %}
    {% for p in placeholder %}
    $('#multiSelect'+{{loop.index}}).select2({
        placeholder: "{{p}}",
        allowClear: true
    });
    {% endfor %}
{% elif input_type == 'single' %}
    $('#multiSelect').select2({
        placeholder: "{{placeholder}}",
        allowClear: true
    });
{% endif %}
</script>

{% endblock %}
